@import "tailwindcss";

.monaco-editor .scrollbar,
.monaco-editor .scrollbar>.slider {
  background: transparent !important;
  box-shadow: none !important;
  opacity: 0.3 !important;
  transition: none !important;
}

.monaco-editor .scrollbar>.slider:hover {
  background: transparent !important;
  box-shadow: none !important;
  opacity: 0.3 !important;
}

.bg-vs-dark {
  background-color: #1E1E1E;
}

.Toastify__toast-container--centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed !important;
  width: fit-content;
  z-index: 9999;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; }